/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App {
  text-align: center;
  font-family:'jua';
}

body, html, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: jua;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

button {
  margin: 1em 0;
  font-family: jua;
}